<h1>Our Projects</h1>
<% @users.each do |user| %>
<% user.projects.each do |project| %>
<% if project.approved? %>
<div class="container">
    <div class="row">
        <div class="col">
            <%= render project %>
        </div>
    </div>
</div>



<% end %>
<% end %>
<% end %>