<% provide(:title, 'All users') %>

<div class="ihu" style="height:110px">
  <div class="container">
    <h1 class="pt-4">All Users</h1>
  </div>
</div>
<%= will_paginate %>
<div class="container my-3">
  <div class="row">
    <%= render @users %>
  </div>
</div>
<%= will_paginate %>